In [6]:
import pandas as pd
import numpy as np
df  = pd.read_csv("76_attributes_heartdiseases.csv")

In [4]:
pwd

'C:\\Users\\Admin\\Downloads'

In [5]:
import pandas as pd
import numpy as np
df  = pd.read_csv("76_heart_disease_description.csv")

FileNotFoundError: [Errno 2] File 76_heart_disease_description.csv does not exist: '76_heart_disease_description.csv'

In [7]:
df = pd.read_csv("76_attributes_heartdiseases.csv",na_values=["-9",-9,-18])

In [8]:
df = df.iloc[:,:58]#so keep only first 58 columnd and remove rest of them
#df.columns

In [9]:
df.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31',
       'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41',
       'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51',
       'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58'],
      dtype='object')

In [16]:
df.drop(['V2','V36','V45','V46','V54'],axis=1,inplace=True)

KeyError: "['V2' 'V36' 'V45' 'V46'] not found in axis"

In [12]:
df['V58'].unique()

array([0, 2, 1, 3, 4], dtype=int64)

In [13]:
df.head()

,V1,V3,V4,V5,V6,V7,V8,V9,V10,V11,...,V49,V50,V51,V52,V53,V54,V55,V56,V57,V58
0,1,63,1,NaN,NaN,NaN,NaN,1,145,1,...,NaN,NaN,6.0,NaN,NaN,NaN,2,16,81,0
1,2,67,1,NaN,NaN,NaN,NaN,4,160,1,...,NaN,NaN,3.0,NaN,NaN,NaN,2,5,81,2
2,3,67,1,NaN,NaN,NaN,NaN,4,120,1,...,NaN,NaN,7.0,NaN,NaN,NaN,2,20,81,1
3,4,37,1,NaN,NaN,NaN,NaN,3,130,0,...,NaN,NaN,3.0,NaN,NaN,NaN,2,4,81,0
4,6,41,0,NaN,NaN,NaN,NaN,2,130,1,...,NaN,NaN,3.0,NaN,NaN,NaN,2,18,81,0

In [14]:
df.loc[df['V58'] > 0, 'V58'] = 1# Tune the decision variable
# for Binary classification

In [15]:
# Print columns which have all NaN (np.nan) values
print("Columns with all null values are")
print(df.columns[df.isnull().all()])
print(df['V5'].describe())
# Drop columns which have all NaN values
l=df.columns[df.isnull().all()]
df.drop(l, inplace=True, axis=1)

Columns with all null values are
Index(['V5', 'V6', 'V7', 'V47', 'V48', 'V49', 'V52', 'V53'], dtype='object')
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: V5, dtype: float64

In [17]:
df.drop(['V54'],axis=1,inplace=True)

In [21]:
df.dropna(axis=1, thresh=int(0.1*len(df)) , inplace=True)

In [19]:
df

,V1,V3,V4,V9,V10,V11,V12,V14,V15,V16,...,V39,V40,V41,V43,V44,V51,V55,V56,V57,V58
0,1,63,1,1,145,1,233.0,50.0,20.0,1.0,...,0.0,2.3,3.0,172,0.0,6.0,2,16,81,0
1,2,67,1,4,160,1,286.0,40.0,40.0,0.0,...,0.0,1.5,2.0,185,3.0,3.0,2,5,81,1
2,3,67,1,4,120,1,229.0,20.0,35.0,0.0,...,0.0,2.6,2.0,150,2.0,7.0,2,20,81,1
3,4,37,1,3,130,0,250.0,0.0,0.0,0.0,...,0.0,3.5,3.0,167,0.0,3.0,2,4,81,0
4,6,41,0,2,130,1,204.0,0.0,0.0,0.0,...,0.0,1.4,1.0,40,0.0,3.0,2,18,81,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,294,39,0,3,138,1,220.0,20.0,23.0,0.0,...,0.0,0.0,2.0,161,0.0,3.0,5,9,84,0
278,295,57,1,2,154,0,232.0,40.0,35.0,0.0,...,0.0,0.0,1.0,62,1.0,3.0,6,5,84,1
279,296,58,0,4,130,1,197.0,0.0,0.0,0.0,...,0.0,0.6,2.0,94,0.0,3.0,3,29,84,0
280,297,57,1,4,110,1,335.0,20.0,15.0,0.0,...,0.0,3.0,2.0,91,1.0,7.0,5,4,84,1
281,298,47,1,3,130,1,253.0,0.0,0.0,0.0,...,0.0,0.0,1.0,55,0.0,3.0,5,24,84,0

In [20]:
df.shape

(282, 40)

In [22]:
df

,V1,V3,V4,V9,V10,V11,V12,V14,V15,V16,...,V39,V40,V41,V43,V44,V51,V55,V56,V57,V58
0,1,63,1,1,145,1,233.0,50.0,20.0,1.0,...,0.0,2.3,3.0,172,0.0,6.0,2,16,81,0
1,2,67,1,4,160,1,286.0,40.0,40.0,0.0,...,0.0,1.5,2.0,185,3.0,3.0,2,5,81,1
2,3,67,1,4,120,1,229.0,20.0,35.0,0.0,...,0.0,2.6,2.0,150,2.0,7.0,2,20,81,1
3,4,37,1,3,130,0,250.0,0.0,0.0,0.0,...,0.0,3.5,3.0,167,0.0,3.0,2,4,81,0
4,6,41,0,2,130,1,204.0,0.0,0.0,0.0,...,0.0,1.4,1.0,40,0.0,3.0,2,18,81,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,294,39,0,3,138,1,220.0,20.0,23.0,0.0,...,0.0,0.0,2.0,161,0.0,3.0,5,9,84,0
278,295,57,1,2,154,0,232.0,40.0,35.0,0.0,...,0.0,0.0,1.0,62,1.0,3.0,6,5,84,1
279,296,58,0,4,130,1,197.0,0.0,0.0,0.0,...,0.0,0.6,2.0,94,0.0,3.0,3,29,84,0
280,297,57,1,4,110,1,335.0,20.0,15.0,0.0,...,0.0,3.0,2.0,91,1.0,7.0,5,4,84,1
281,298,47,1,3,130,1,253.0,0.0,0.0,0.0,...,0.0,0.0,1.0,55,0.0,3.0,5,24,84,0

In [23]:
df = df[df.isnull().sum(axis=1) <=(df.shape[1] * 0.5) ]

In [24]:
df

,V1,V3,V4,V9,V10,V11,V12,V14,V15,V16,...,V39,V40,V41,V43,V44,V51,V55,V56,V57,V58
0,1,63,1,1,145,1,233.0,50.0,20.0,1.0,...,0.0,2.3,3.0,172,0.0,6.0,2,16,81,0
1,2,67,1,4,160,1,286.0,40.0,40.0,0.0,...,0.0,1.5,2.0,185,3.0,3.0,2,5,81,1
2,3,67,1,4,120,1,229.0,20.0,35.0,0.0,...,0.0,2.6,2.0,150,2.0,7.0,2,20,81,1
3,4,37,1,3,130,0,250.0,0.0,0.0,0.0,...,0.0,3.5,3.0,167,0.0,3.0,2,4,81,0
4,6,41,0,2,130,1,204.0,0.0,0.0,0.0,...,0.0,1.4,1.0,40,0.0,3.0,2,18,81,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277,294,39,0,3,138,1,220.0,20.0,23.0,0.0,...,0.0,0.0,2.0,161,0.0,3.0,5,9,84,0
278,295,57,1,2,154,0,232.0,40.0,35.0,0.0,...,0.0,0.0,1.0,62,1.0,3.0,6,5,84,1
279,296,58,0,4,130,1,197.0,0.0,0.0,0.0,...,0.0,0.6,2.0,94,0.0,3.0,3,29,84,0
280,297,57,1,4,110,1,335.0,20.0,15.0,0.0,...,0.0,3.0,2.0,91,1.0,7.0,5,4,84,1
281,298,47,1,3,130,1,253.0,0.0,0.0,0.0,...,0.0,0.0,1.0,55,0.0,3.0,5,24,84,0