In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [3]:
churn_master_df = pd.read_csv("C:/Users/Admin/Downloads/python/Churn_Modelling.csv")

In [5]:
churn_df = churn_master_df.copy()

In [6]:
churn_df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [11]:
# print the shape 
print(churn_df.shape[0])
print(churn_df.shape[1])

print(churn_df.columns.to_list())
print(churn_df.nunique())

10000
14
['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited']
RowNumber          10000
CustomerId         10000
Surname             2932
CreditScore          460
Geography              3
Gender                 2
Age                   70
Tenure                11
Balance             6382
NumOfProducts          4
HasCrCard              2
IsActiveMember         2
EstimatedSalary     9999
Exited                 2
dtype: int64

In [ ]:
# null hypothesis there is no relation between 2 categorical values
# alternate hypothesis there is relation between two categorical values
# question does" the gender of person" related with "is active member column or not"

In [12]:
churn_df['Gender'].value_counts() # value counts for gender count

Male      5457
Female    4543
Name: Gender, dtype: int64

In [13]:
# Staticstics can not prove anything All the tests should be based on relative likelihood test
# crosstab is used for contigency table to decide the relation between categorical values
gender_churn_count = pd.crosstab(index=churn_df['Gender'], columns=churn_df['IsActiveMember'])

In [14]:
gender_churn_count

IsActiveMember     0     1
Gender
Female          2259  2284
Male            2590  2867

In [16]:
print(gender_churn_count.iloc[0].values)
print(gender_churn_count.iloc[1].values)

[2259 2284]
[2590 2867]

In [17]:
# to run chi square  test import stats from scipy
# chi square test requires test name chi2, p value , degree of freedom 
from scipy import stats
(chi2 , p , dof , _)=stats.chi2_contingency([gender_churn_count.iloc[0].values, gender_churn_count.iloc[1].values])

In [20]:
print("chi2   :", chi2)# more the value of chi more is the significant variable
print("p value is :", p)
print("degree of freedom is :", dof)

chi2   : 4.992271810534194
p value is : 0.025460760707196283
degree of freedom is : 1

In [ ]:
### p value is 2% which is way too less than alpha value which is 5% 
#so we can say we reject  the null hypothesis h0 that means
# there is significant relation between the gender and "is active member"###

In [21]:
# in case you want full contingency table include margins= True
pd.crosstab(index=churn_df['Gender'], columns=churn_df['IsActiveMember'], margins=True)

IsActiveMember     0     1    All
Gender
Female          2259  2284   4543
Male            2590  2867   5457
All             4849  5151  10000

In [22]:
churn_df['HasCrCard'].value_counts()

1    7055
0    2945
Name: HasCrCard, dtype: int64

In [25]:
Hascrcard_churn_count = pd.crosstab(index=churn_df['Gender'], columns=churn_df['HasCrCard'], margins=True)

In [26]:
Hascrcard_churn_count

HasCrCard     0     1    All
Gender
Female     1351  3192   4543
Male       1594  3863   5457
All        2945  7055  10000

In [27]:
(chi2 , p , dof , _)=stats.chi2_contingency([Hascrcard_churn_count.iloc[0].values, Hascrcard_churn_count.iloc[1].values])

In [28]:
print("chi2   :", chi2)# more the value of chi more is the significant variable
print("p value is :", p)
print("degree of freedom is :", dof)

chi2   : 0.3324819026761917
p value is : 0.8468421618525813
degree of freedom is : 2

In [ ]:
# chi value is small so less significant variables related to each other
# p value is way greater than 5% so we accpet the null hyposthesis that 
# theres no relation between "has credit card" and "gender"