In [7]:
import pandas as pd

In [ ]:
# load data
df = pd.read_csv("cleaned_76hd.csv") # \\  / ###returns a dataframe

In [ ]:
# shape of table / dataframe (rows and columns)
print("Shape of df is", df.shape)
print("rows =",df.shape[0])
print("columns",df.shape[1])

Shape of df is (282, 46)
rows = 282
columns 46

In [ ]:
# print(df.head())
df.head()

         V1        V3   V4   V8  ...       V55       V56      V57  V58
0  0.000000  0.708333  1.0  0.0  ...  0.035714  0.185185  0.97619  0.0
1  0.003367  0.791667  1.0  0.0  ...  0.035714  0.049383  0.97619  1.0
2  0.006734  0.791667  1.0  0.0  ...  0.035714  0.234568  0.97619  1.0
3  0.010101  0.166667  1.0  0.0  ...  0.035714  0.037037  0.97619  0.0
4  0.016835  0.250000  0.0  0.0  ...  0.035714  0.209877  0.97619  0.0

[5 rows x 46 columns]

In [ ]:
df.tail()

           V1        V3   V4   V8        V9  ...  V54       V55       V56  V57  V58
277  0.986532  0.208333  0.0  0.0  0.015504  ...  0.0  0.142857  0.098765  1.0  0.0
278  0.989899  0.583333  1.0  0.0  0.007752  ...  0.0  0.178571  0.049383  1.0  1.0
279  0.993266  0.604167  0.0  0.0  0.023256  ...  0.0  0.071429  0.345679  1.0  0.0
280  0.996633  0.583333  1.0  0.0  0.023256  ...  0.0  0.142857  0.037037  1.0  1.0
281  1.000000  0.375000  1.0  0.0  0.015504  ...  0.0  0.142857  0.283951  1.0  0.0

[5 rows x 46 columns]

In [ ]:
df.columns

Index(['V1', 'V3', 'V4', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15',
       'V16', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26',
       'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36',
       'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V50', 'V51',
       'V54', 'V55', 'V56', 'V57', 'V58'],
      dtype='object')

In [ ]:
df.dtypes

V1     float64
V3     float64
V4     float64
V8     float64
V9     float64
V10    float64
V11    float64
V12    float64
V13    float64
V14    float64
V15    float64
V16    float64
V18    float64
V19    float64
V20    float64
V21    float64
V22    float64
V23    float64
V24    float64
V25    float64
V26    float64
V27    float64
V28    float64
V29    float64
V30    float64
V31    float64
V32    float64
V33    float64
V34    float64
V35    float64
V36    float64
V37    float64
V38    float64
V39    float64
V40    float64
V41    float64
V42    float64
V43    float64
V44    float64
V50    float64
V51    float64
V54    float64
V55    float64
V56    float64
V57    float64
V58    float64
dtype: object

In [ ]:
#select column based on name

one = df['V3'] # Series object :: it means a single dim array
two = df[['V3']] # Dataframe :: means it is a table
print(type(one),type(two))

<class 'pandas.core.series.Series'> <class 'pandas.core.frame.DataFrame'>

In [ ]:
df[['V58','V3']] # similar to a view in databases

     V58        V3
0    0.0  0.708333
1    1.0  0.791667
2    1.0  0.791667
3    0.0  0.166667
4    0.0  0.250000
..   ...       ...
277  0.0  0.208333
278  1.0  0.583333
279  0.0  0.604167
280  1.0  0.583333
281  0.0  0.375000

[282 rows x 2 columns]

In [ ]:
print(df.iloc.__doc__) # to times underscore

Purely integer-location based indexing for selection by position.

``.iloc[]`` is primarily integer position based (from ``0`` to
``length-1`` of the axis), but may also be used with a boolean
array.

Allowed inputs are:

- An integer, e.g. ``5``.
- A list or array of integers, e.g. ``[4, 3, 0]``.
- A slice object with ints, e.g. ``1:7``.
- A boolean array.
- A ``callable`` function with one argument (the calling Series or
  DataFrame) and that returns valid output for indexing (one of the above).
  This is useful in method chains, when you don't have a reference to the
  calling object, but would like to base your selection on some value.

``.iloc`` will raise ``IndexError`` if a requested indexer is
out-of-bounds, except *slice* indexers which allow out-of-bounds
indexing (this conforms with python/numpy *slice* semantics).

See more at :ref:`Selection by Position <indexing.integer>`.

See Also
--------
DataFrame.iat : Fast integer location scalar accessor.
DataFrame.loc : Purely label-location based indexer for selection by label.
Series.iloc : Purely integer-location based indexing for
               selection by position.

Examples
--------

>>> mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
...           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
...           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
>>> df = pd.DataFrame(mydict)
>>> df
      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

**Indexing just the rows**

With a scalar integer.

>>> type(df.iloc[0])
<class 'pandas.core.series.Series'>
>>> df.iloc[0]
a    1
b    2
c    3
d    4
Name: 0, dtype: int64

With a list of integers.

>>> df.iloc[[0]]
   a  b  c  d
0  1  2  3  4
>>> type(df.iloc[[0]])
<class 'pandas.core.frame.DataFrame'>

>>> df.iloc[[0, 1]]
     a    b    c    d
0    1    2    3    4
1  100  200  300  400

With a `slice` object.

>>> df.iloc[:3]
      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

With a boolean mask the same length as the index.

>>> df.iloc[[True, False, True]]
      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

With a callable, useful in method chains. The `x` passed
to the ``lambda`` is the DataFrame being sliced. This selects
the rows whose index label even.

>>> df.iloc[lambda x: x.index % 2 == 0]
      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

**Indexing both axes**

You can mix the indexer types for the index and columns. Use ``:`` to
select the entire axis.

With scalar integers.

>>> df.iloc[0, 1]
2

With lists of integers.

>>> df.iloc[[0, 2], [1, 3]]
      b     d
0     2     4
2  2000  4000

With `slice` objects.

>>> df.iloc[1:3, 0:3]
      a     b     c
1   100   200   300
2  1000  2000  3000

With a boolean array whose length matches the columns.

>>> df.iloc[:, [True, False, True, False]]
      a     c
0     1     3
1   100   300
2  1000  3000

With a callable function that expects the Series or DataFrame.

>>> df.iloc[:, lambda df: [0, 2]]
      a     c
0     1     3
1   100   300
2  1000  3000

In [ ]:
#how to slice the dataframe
df.iloc[150:161,12:15] # select based on Index
# here end is excluded

     V18       V19       V20
150  1.0  0.000000  0.363636
151  1.0  0.181818  0.000000
152  0.0  0.181818  0.500000
153  0.0  0.181818  0.000000
154  1.0  0.181818  0.500000
155  1.0  0.181818  0.000000
156  0.0  0.000000  0.454545
157  1.0  0.181818  0.500000
158  1.0  0.181818  0.454545
159  0.0  0.000000  0.000000
160  0.0  0.000000  0.045455

In [ ]:
#select row and column based on index
df.iloc[100:103,7:10]

          V12  V13      V14
100  0.305936  0.0  0.10101
101  0.127854  0.0  0.20202
102  0.404110  0.0  0.00000

In [ ]:
df.iloc[100:103,100:1000] # df.iloc[:1000,:]

Empty DataFrame
Columns: []
Index: [100, 101, 102]

In [ ]:
df.iloc[[10,20,30],:] #df.loc[[10,20,30],:]

          V1        V3   V4   V8  ...       V55       V56      V57  V58
10  0.037037  0.583333  1.0  0.0  ...  0.214286  0.000000  0.97619  0.0
20  0.070707  0.729167  1.0  0.0  ...  0.178571  0.271605  0.97619  0.0
30  0.104377  0.833333  0.0  0.0  ...  0.178571  0.000000  0.97619  0.0

[3 rows x 46 columns]

In [ ]:
df.iloc[[10,20,30]] #df.loc[[10,20,30]]

          V1        V3   V4   V8  ...       V55       V56      V57  V58
10  0.037037  0.583333  1.0  0.0  ...  0.214286  0.000000  0.97619  0.0
20  0.070707  0.729167  1.0  0.0  ...  0.178571  0.271605  0.97619  0.0
30  0.104377  0.833333  0.0  0.0  ...  0.178571  0.000000  0.97619  0.0

[3 rows x 46 columns]

In [ ]:
#select columns based on index 
df.iloc[:,7:9]

          V12  V13
0    0.244292  0.0
1    0.365297  0.0
2    0.235160  0.0
3    0.283105  0.0
4    0.178082  0.0
5    0.251142  0.0
6    0.324201  0.0
7    0.520548  0.0
8    0.292237  0.0
9    0.175799  0.0
10   0.150685  0.0
11   0.383562  0.0
12   0.296804  0.0
13   0.312785  0.0
14   0.166667  0.0
15   0.095890  0.0
16   0.235160  0.0
17   0.257991  0.0
18   0.340183  0.0
19   0.319635  0.0
20   0.194064  0.0
21   0.358447  0.0
22   0.360731  0.0
23   0.223744  0.0
24   0.182648  0.0
25   0.212329  0.0
26   0.488584  0.0
27   0.228311  0.0
28   0.276256  0.0
29   0.093607  0.0
..        ...  ...
252  0.312785  0.0
253  0.385845  0.0
254  0.404110  0.0
255  0.189498  0.0
256  0.221461  0.0
257  0.162100  0.0
258  0.271689  0.0
259  0.308219  0.0
260  0.264840  0.0
261  0.440639  0.0
262  0.260274  0.0
263  0.228311  0.0
264  0.091324  0.0
265  0.431507  0.0
266  0.178082  0.0
267  0.210046  0.0
268  0.221461  0.0
269  0.123288  0.0
270  0.184932  0.0
271  0.232877  0.0
272  0.422374  0.0
273  0.052511  0.0
274  0.178082  0.0
275  0.230594  0.0
276  0.347032  0.0
277  0.214612  0.0
278  0.242009  0.0
279  0.162100  0.0
280  0.477169  0.0
281  0.289954  0.0

[282 rows x 2 columns]

In [ ]:
#Error if we try to select a particular column which is out of bounds
df.iloc[150:156,[50,51]]

IndexError: ignored

In [ ]:
#NO Error if we try to select column/row range out of bounds
df.iloc[150:156,50:55]

150    0.552189
151    0.555556
152    0.558923
153    0.562290
154    0.565657
155    0.569024
Name: V1, dtype: float64

In [ ]:
df.iloc[0:5,0:2] # index of rows and columns start from 0

         V1        V3
0  0.000000  0.708333
1  0.003367  0.791667
2  0.006734  0.791667
3  0.010101  0.166667
4  0.016835  0.250000

In [ ]:
# Label based indexing
# print(df.loc[0:10,['V10','V8']])
# df.loc[150:155,['V9','V3','V1']]
# df1 = df.loc[150:155,['V9','V3','V1']]
df.loc[150:155,['V1','V3']]
# df1.head()

           V1        V3
150  0.552189  0.479167
151  0.555556  0.270833
152  0.558923  0.791667
153  0.562290  0.541667
154  0.565657  0.729167
155  0.569024  0.854167

In [ ]:
df['V58'].mode()

0    0.0
dtype: float64

In [ ]:
df.mode()#df.mode(axis=0)

    V1        V3   V4   V8        V9  ...  V54  V55       V56      V57  V58
0  0.0  0.520833  1.0  0.0  0.023256  ...  0.0  0.0  0.246914  0.97619  0.0
1  NaN  0.604167  NaN  NaN       NaN  ...  NaN  NaN       NaN      NaN  NaN

[2 rows x 46 columns]

In [ ]:
df['V3'].value_counts() # To count how many time a value occurs in a column

0.604167    16
0.520833    16
0.583333    14
0.625000    13
0.479167    13
0.458333    12
0.645833    12
0.687500    11
0.312500    10
0.729167    10
0.250000     9
0.562500     9
0.500000     8
0.750000     8
0.291667     8
0.270833     8
0.791667     8
0.708333     7
0.770833     7
0.666667     7
0.395833     7
0.354167     7
0.333333     7
0.437500     7
0.541667     6
0.416667     5
0.375000     5
0.208333     4
0.854167     4
0.125000     3
0.833333     3
0.229167     3
0.875000     3
0.812500     3
0.166667     2
0.104167     2
0.000000     1
1.000000     1
0.937500     1
0.979167     1
0.187500     1
Name: V3, dtype: int64

In [ ]:
df.mean()#df.mean(axis=0)

V1     0.505839
V3     0.529403
V4     0.677305
V8     0.003546
V9     0.026609
V10    0.649595
V11    0.011157
V12    0.280927
V13    0.005910
V14    0.168243
V15    0.273641
V16    0.148936
V18    0.609929
V19    0.097357
V20    0.250000
V21    0.181070
V22    0.972222
V23    0.031915
V24    0.333333
V25    0.244681
V26    0.099291
V27    0.124113
V28    0.010062
V29    0.500403
V30    0.247281
V31    0.048274
V32    0.595095
V33    0.238629
V34    0.563159
V35    0.510434
V36    0.435850
V37    0.763959
V38    0.322695
V39    0.020292
V40    0.167181
V41    0.287234
V42    0.008623
V43    0.449225
V44    0.215130
V50    0.996454
V51    0.406028
V54    0.007092
V55    0.198961
V56    0.182909
V57    0.968803
V58    0.453901
dtype: float64

In [ ]:
print(df.V10.mean()) # df[['']]

0.6495954952065296

In [ ]:
df.V10.sort_values() #V4

54     0.000000
93     0.000000
92     0.000000
131    0.467337
222    0.467337
         ...
83     0.899497
231    0.899497
201    0.899497
188    0.959799
126    1.000000
Name: V10, Length: 282, dtype: float64

In [ ]:
df.V4.sort_values(ascending=False)

281    1.0
104    1.0
120    1.0
119    1.0
118    1.0
      ...
93     0.0
94     0.0
213    0.0
97     0.0
81     0.0
Name: V4, Length: 282, dtype: float64

In [ ]:
df.sort_values(['V3','V55'],inplace=True)

In [ ]:
df.head()

           V1        V3   V4   V8  ...       V55       V56       V57  V58
132  0.478114  0.000000  1.0  0.0  ...  0.250000  0.185185  0.976190  0.0
101  0.356902  0.104167  1.0  0.0  ...  0.142857  0.197531  0.976190  0.0
225  0.811448  0.104167  0.0  0.0  ...  0.392857  0.061728  0.988095  0.0
117  0.424242  0.125000  0.0  0.0  ...  0.178571  0.358025  0.976190  0.0
138  0.498316  0.125000  1.0  0.0  ...  0.250000  0.135802  0.976190  1.0

[5 rows x 46 columns]

In [ ]:
df.V55.median() # no rounding OFF # check df.median

0.2142857142857143

In [ ]:
df.median(axis=0)
# No rounding off in meadian actual values
# rounded values are only displayed here by jupyter
#new_df = pd.DataFrame(df.median(axis=0))
#new_df.to_csv("median_values.csv")

V1     0.506734
V3     0.541667
V4     1.000000
V8     0.000000
V9     0.015504
V10    0.648241
V11    0.003953
V12    0.269406
V13    0.000000
V14    0.101010
V15    0.277778
V16    0.000000
V18    1.000000
V19    0.181818
V20    0.272727
V21    0.172840
V22    0.976190
V23    0.000000
V24    0.000000
V25    0.000000
V26    0.000000
V27    0.000000
V28    0.000000
V29    0.507576
V30    0.200000
V31    0.037791
V32    0.625954
V33    0.226667
V34    0.567568
V35    0.519231
V36    0.426230
V37    0.772727
V38    0.000000
V39    0.000000
V40    0.129032
V41    0.500000
V42    0.000000
V43    0.435185
V44    0.000000
V50    1.000000
V51    0.000000
V54    0.000000
V55    0.214286
V56    0.172840
V57    0.976190
V58    0.000000
dtype: float64

In [ ]:
# Display median without rounding off
for col in df.columns:
  print("col=",col,"median=", df[col].median())

col= V1 median= 0.5067340067340067
col= V3 median= 0.5416666666666666
col= V4 median= 1.0
col= V8 median= 0.0
col= V9 median= 0.015503875968992246
col= V10 median= 0.6482412060301508
col= V11 median= 0.003952569169960474
col= V12 median= 0.2694063926940639
col= V13 median= 0.0
col= V14 median= 0.10101010101010102
col= V15 median= 0.2777777777777778
col= V16 median= 0.0
col= V18 median= 1.0
col= V19 median= 0.18181818181818185
col= V20 median= 0.2727272727272727
col= V21 median= 0.1728395061728395
col= V22 median= 0.9761904761904762
col= V23 median= 0.0
col= V24 median= 0.0
col= V25 median= 0.0
col= V26 median= 0.0
col= V27 median= 0.0
col= V28 median= 0.0
col= V29 median= 0.5075757575757576
col= V30 median= 0.2
col= V31 median= 0.0377906976744186
col= V32 median= 0.6259541984732825
col= V33 median= 0.2266666666666667
col= V34 median= 0.5675675675675675
col= V35 median= 0.5192307692307693
col= V36 median= 0.4262295081967213
col= V37 median= 0.7727272727272727
col= V38 median= 0.0
col= V39 median= 0.0
col= V40 median= 0.12903225806451613
col= V41 median= 0.5
col= V42 median= 0.0
col= V43 median= 0.43518518518518523
col= V44 median= 0.0
col= V50 median= 1.0
col= V51 median= 0.0
col= V54 median= 0.0
col= V55 median= 0.2142857142857143
col= V56 median= 0.1728395061728395
col= V57 median= 0.9761904761904762
col= V58 median= 0.0

In [ ]:
df['V3'].median()

0.5416666666666666

In [ ]:
#masking
df<0.58 #vectorized operation

        V1     V3     V4    V8    V9  ...   V54   V55   V56    V57    V58
132   True   True  False  True  True  ...  True  True  True  False   True
101   True   True  False  True  True  ...  True  True  True  False   True
225  False   True   True  True  True  ...  True  True  True  False   True
117   True   True   True  True  True  ...  True  True  True  False   True
138   True   True  False  True  True  ...  True  True  True  False  False
..     ...    ...    ...   ...   ...  ...   ...   ...   ...    ...    ...
103   True  False   True  True  True  ...  True  True  True  False   True
42    True  False   True  True  True  ...  True  True  True  False   True
233  False  False   True  True  True  ...  True  True  True  False   True
257  False  False   True  True  True  ...  True  True  True  False   True
161  False  False  False  True  True  ...  True  True  True  False  False

[282 rows x 46 columns]

In [ ]:
df[df<0.58] # cells which satisfy condition are same, but other calls are NaN

           V1        V3   V4   V8        V9  ...  V54       V55       V56  V57  V58
132  0.478114  0.000000  NaN  0.0  0.007752  ...  0.0  0.250000  0.185185  NaN  0.0
101  0.356902  0.104167  NaN  0.0  0.000000  ...  0.0  0.142857  0.197531  NaN  0.0
225       NaN  0.104167  0.0  0.0  0.007752  ...  0.0  0.392857  0.061728  NaN  0.0
117  0.424242  0.125000  0.0  0.0  0.023256  ...  0.0  0.178571  0.358025  NaN  0.0
138  0.498316  0.125000  NaN  0.0  0.023256  ...  0.0  0.250000  0.135802  NaN  NaN
..        ...       ...  ...  ...       ...  ...  ...       ...       ...  ...  ...
103  0.367003       NaN  0.0  0.0  0.015504  ...  0.0  0.178571  0.358025  NaN  0.0
42   0.154882       NaN  0.0  0.0  0.007752  ...  0.0  0.392857  0.074074  NaN  0.0
233       NaN       NaN  0.0  0.0  0.007752  ...  0.0  0.357143  0.358025  NaN  0.0
257       NaN       NaN  0.0  0.0  0.015504  ...  0.0  0.035714  0.172840  NaN  0.0
161       NaN       NaN  NaN  0.0  0.023256  ...  0.0  0.035714  0.197531  NaN  NaN

[282 rows x 46 columns]

In [ ]:
df['V3']<0.58

0      False
1      False
2      False
3       True
4       True
       ...
277     True
278    False
279    False
280    False
281     True
Name: V3, Length: 282, dtype: bool

In [ ]:
#select rows based on condition
df[df['V3']<0.58]
# new_df = df[df['V3']<0.58]
# new_df.shape

           V1        V3   V4   V8  ...       V55       V56      V57  V58
3    0.010101  0.166667  1.0  0.0  ...  0.035714  0.037037  0.97619  0.0
4    0.016835  0.250000  0.0  0.0  ...  0.035714  0.209877  0.97619  0.0
5    0.020202  0.562500  1.0  0.0  ...  0.071429  0.111111  0.97619  0.0
9    0.033670  0.500000  1.0  0.0  ...  0.214286  0.061728  0.97619  1.0
11   0.040404  0.562500  0.0  0.0  ...  0.000000  0.222222  0.97619  0.0
..        ...       ...  ...  ...  ...       ...       ...      ...  ...
268  0.956229  0.229167  1.0  0.0  ...  0.035714  0.246914  1.00000  1.0
269  0.959596  0.270833  1.0  0.0  ...  0.071429  0.148148  1.00000  0.0
272  0.969697  0.354167  1.0  0.0  ...  0.071429  0.185185  1.00000  1.0
277  0.986532  0.208333  0.0  0.0  ...  0.142857  0.098765  1.00000  0.0
281  1.000000  0.375000  1.0  0.0  ...  0.142857  0.283951  1.00000  0.0

[153 rows x 46 columns]

In [ ]:
# df.iloc[df[df['V3']<0.58].index]
df.loc[df['V3']<0.58]

           V1        V3   V4   V8  ...       V55       V56       V57  V58
132  0.478114  0.000000  1.0  0.0  ...  0.250000  0.185185  0.976190  0.0
101  0.356902  0.104167  1.0  0.0  ...  0.142857  0.197531  0.976190  0.0
225  0.811448  0.104167  0.0  0.0  ...  0.392857  0.061728  0.988095  0.0
117  0.424242  0.125000  0.0  0.0  ...  0.178571  0.358025  0.976190  0.0
138  0.498316  0.125000  1.0  0.0  ...  0.250000  0.135802  0.976190  1.0
..        ...       ...  ...  ...  ...       ...       ...       ...  ...
111  0.397306  0.562500  1.0  0.0  ...  0.107143  0.358025  0.976190  1.0
126  0.454545  0.562500  0.0  0.0  ...  0.250000  0.246914  0.976190  1.0
215  0.777778  0.562500  1.0  0.0  ...  0.321429  0.074074  0.988095  0.0
181  0.659933  0.562500  0.0  0.0  ...  0.357143  0.098765  0.976190  1.0
236  0.848485  0.562500  1.0  0.0  ...  0.392857  0.172840  0.988095  1.0

[153 rows x 46 columns]

In [ ]:
df[df.V10 < df.V10.mean()]

In [ ]:
#Write code to select all 1.0 in 'V14' 
#and replace those values in 'V4' with 2.0

In [ ]:
df.loc[(df.V14>= 0.5) & (df.V14 <= 0.8) ,'V14'] #|

168    0.606061
220    0.505051
57     0.505051
13     0.505051
237    0.606061
78     0.505051
120    0.606061
99     0.606061
46     0.606061
166    0.505051
63     0.606061
64     0.606061
58     0.505051
38     0.606061
10     0.757576
146    0.707071
62     0.606061
43     0.505051
24     0.505051
0      0.505051
Name: V14, dtype: float64

In [ ]:
# How to select rows of one column based on condition
print(df.loc[:,['V10','V8']])

df.loc[df.V8==0,'V8']=5

print(df.loc[:,['V10','V8']])

          V10   V8
132  0.648241  0.0
101  0.587940  0.0
225  0.587940  0.0
117  0.688442  0.0
138  0.597990  0.0
..        ...  ...
103  0.547739  0.0
42   0.798995  0.0
233  0.597990  0.0
257  0.698492  0.0
161  0.623116  0.0

[282 rows x 2 columns]
          V10   V8
132  0.648241  5.0
101  0.587940  5.0
225  0.587940  5.0
117  0.688442  5.0
138  0.597990  5.0
..        ...  ...
103  0.547739  5.0
42   0.798995  5.0
233  0.597990  5.0
257  0.698492  5.0
161  0.623116  5.0

[282 rows x 2 columns]

In [ ]:
df.isnull().shape #isna() # True if NaN value else False

(282, 46)

In [ ]:
p = pd.Series([True, False,True])
p.all()

False

In [ ]:
p = pd.Series([True, False,True])
p.any()

True

In [ ]:
print(df.isnull().all())#isna

V1     False
V3     False
V4     False
V8     False
V9     False
V10    False
V11    False
V12    False
V13    False
V14    False
V15    False
V16    False
V18    False
V19    False
V20    False
V21    False
V22    False
V23    False
V24    False
V25    False
V26    False
V27    False
V28    False
V29    False
V30    False
V31    False
V32    False
V33    False
V34    False
V35    False
V36    False
V37    False
V38    False
V39    False
V40    False
V41    False
V42    False
V43    False
V44    False
V50    False
V51    False
V54    False
V55    False
V56    False
V57    False
V58    False
dtype: bool

In [ ]:
df.columns

Index(['V1', 'V3', 'V4', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15',
       'V16', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26',
       'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36',
       'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V50', 'V51',
       'V54', 'V55', 'V56', 'V57', 'V58'],
      dtype='object')

In [ ]:
print(df.columns[df.isnull().all()])

Index([], dtype='object')

In [ ]:
# Drop columns based on condition
# df.drop function takes list of column names to be dropped when axis =1
#df.drop(['V4','V5'], axis =1)
df.drop(df.columns[df.isnull().all()], inplace=True, axis=1)

In [ ]:
# Drop rows based on condition
print(df[df.V3 > 0.65].index)
df_new = df.drop(df[df.V3 > 0.65].index)
df_new.describe()

Int64Index([  0,   1,   2,   6,   8,  20,  27,  30,  32,  39,  40,  42,  44,
             48,  51,  70,  71,  72,  73,  75,  83,  90,  91,  92,  94, 103,
            108, 110, 114, 118, 119, 121, 124, 129, 136, 137, 143, 152, 154,
            155, 159, 161, 170, 173, 174, 185, 187, 189, 193, 194, 195, 196,
            201, 203, 209, 213, 218, 224, 227, 229, 233, 243, 245, 249, 252,
            256, 257, 258, 264, 270, 271, 273, 275, 276],
           dtype='int64')

,V1,V3,V4,V8,V9,V10,V11,V12,V13,V14,...,V42,V43,V44,V50,V51,V54,V55,V56,V57,V58
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,...,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,0.501198,0.448017,0.721154,4.980769,0.025231,0.641332,0.009881,0.268814,0.003205,0.186286,...,0.008401,0.447756,0.165064,0.995192,0.407452,0.009615,0.208104,0.181565,0.968292,0.423077
std,0.293166,0.145004,0.449514,0.277350,0.088552,0.107143,0.079011,0.102031,0.046225,0.201043,...,0.086362,0.181778,0.272161,0.069338,0.484199,0.092815,0.143626,0.120874,0.117212,0.495239
min,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.234848,0.333333,0.000000,5.000000,0.015504,0.597990,0.000000,0.191210,0.000000,0.000000,...,0.000000,0.339815,0.000000,1.000000,0.000000,0.000000,0.071429,0.086420,0.976190,0.000000
50%,0.503367,0.479167,1.000000,5.000000,0.015504,0.648241,0.003953,0.257991,0.000000,0.202020,...,0.000000,0.425926,0.000000,1.000000,0.000000,0.000000,0.214286,0.185185,0.976190,0.000000
75%,0.761785,0.583333,1.000000,5.000000,0.023256,0.698492,0.003953,0.336187,0.000000,0.303030,...,0.000000,0.555556,0.333333,1.000000,1.000000,0.000000,0.321429,0.259259,0.988095,1.000000
max,1.000000,0.645833,1.000000,5.000000,1.000000,1.000000,1.000000,0.646119,0.666667,0.808081,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df.V3.unique()

array([0.70833333, 0.79166667, 0.16666667, 0.25      , 0.5625    ,
       0.6875    , 0.58333333, 0.5       , 0.3125    , 0.47916667,
       0.39583333, 0.52083333, 0.41666667, 0.72916667, 0.60416667,
       0.64583333, 0.4375    , 0.77083333, 0.29166667, 0.22916667,
       0.83333333, 0.625     , 0.27083333, 0.54166667, 0.66666667,
       0.75      , 0.875     , 0.45833333, 0.35416667, 0.33333333,
       0.20833333, 0.8125    , 0.375     , 0.10416667, 0.125     ,
       0.        , 0.85416667, 1.        , 0.1875    , 0.9375    ,
       0.97916667])

In [ ]:
df.drop_duplicates().shape

(282, 46)

In [ ]:
# select rows with multiple conditions
df_new = df.drop(df[ ((df.V3 > 0.65) | (df.V9 < 0.01)) ].index) #OR(|) AND(&)
df_new.describe()

,V1,V3,V4,V8,V9,V10,V11,V12,V13,V14,...,V42,V43,V44,V50,V51,V54,V55,V56,V57,V58
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,...,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,0.498530,0.456487,0.727848,4.974684,0.031449,0.637873,0.012208,0.268785,0.004219,0.197673,...,0.011059,0.447679,0.191983,0.993671,0.450949,0.012658,0.206148,0.182372,0.963834,0.493671
std,0.292519,0.138839,0.446483,0.318223,0.100862,0.111602,0.090593,0.104590,0.053037,0.211110,...,0.099015,0.188960,0.289701,0.079556,0.490725,0.106393,0.151517,0.126716,0.134203,0.501550
min,0.000000,0.125000,0.000000,1.000000,0.015504,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.233165,0.338542,0.000000,5.000000,0.015504,0.597990,0.000000,0.194635,0.000000,0.000000,...,0.000000,0.334259,0.000000,1.000000,0.000000,0.000000,0.071429,0.086420,0.976190,0.000000
50%,0.491582,0.479167,1.000000,5.000000,0.023256,0.648241,0.003953,0.257991,0.000000,0.202020,...,0.000000,0.425926,0.000000,1.000000,0.000000,0.000000,0.214286,0.185185,0.976190,0.000000
75%,0.758418,0.583333,1.000000,5.000000,0.023256,0.698492,0.003953,0.334475,0.000000,0.340909,...,0.000000,0.568519,0.333333,1.000000,1.000000,0.000000,0.321429,0.259259,0.988095,1.000000
max,1.000000,0.645833,1.000000,5.000000,1.000000,1.000000,1.000000,0.646119,0.666667,0.808081,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
# list of all columns
df.columns

In [6]:
# Index column selection
df_index = pd.read_csv("cleaned_76hd.csv",index_col = 'V1')#2)
df_index.head()

NameError: name 'pd' is not defined

In [ ]:
# Process columns with string categorical values
# Sol :: create a LabelEncoder object and fit it 
#to each feature in X

df_1 = pd.read_csv("DT_data.csv",index_col=0) #index_col=0
df_1.head()

   Outlook  Temp Humidity  Windy Play Golf
1    Rainy   Hot     High      0        No
2    Rainy   Hot     High      1        No
3  Ovecast   Hot     High      0       Yes
4    Sunny  Mild     High      0       Yes
5    Sunny  Cool   Normal      0       Yes

In [2]:
#df_1 = df_1.drop(['Unnamed: 0'],axis=1)#,inplace=True)

In [ ]:
from sklearn import preprocessing
# 1. INSTANTIATE
# encode labels with value between 0 and n_classes-1.
print(df_1['Temp']) #pickle
#####
# ONLY FOR ORDINAL VARIABLE
####
le_temp = preprocessing.LabelEncoder()
le_temp = le_temp.fit(df_1['Temp'])
df_1['Temp'] = le_temp.transform(df_1['Temp'])
print(df_1['Temp'])
le_temp.inverse_transform(df_1['Temp'])

1      Hot
2      Hot
3      Hot
4     Mild
5     Cool
6     Cool
7     Cool
8     Mild
9     Cool
10    Mild
11    Mild
12    Mild
13     Hot
14    Mild
Name: Temp, dtype: object
1     1
2     1
3     1
4     2
5     0
6     0
7     0
8     2
9     0
10    2
11    2
12    2
13    1
14    2
Name: Temp, dtype: int64

array(['Hot', 'Hot', 'Hot', 'Mild', 'Cool', 'Cool', 'Cool', 'Mild',
       'Cool', 'Mild', 'Mild', 'Mild', 'Hot', 'Mild'], dtype=object)

In [4]:
# import preprocessing from sklearn
from sklearn import preprocessing
# 1. INSTANTIATE
# encode labels with value between 0 and n_classes-1.
le = preprocessing.LabelEncoder()

# 2/3. FIT AND TRANSFORM
# use df.apply() to apply le.fit_transform to all columns
# This is ir-reversible transformation.
# 
df_2 = df_1.apply(le.fit_transform)

df_2.head()

NameError: name 'df_1' is not defined

In [8]:
import pandas as pd
df_3 = pd.get_dummies(df_1['Outlook'], prefix_sep="__",
                              columns='Outlook')#df_1.columns)
df_3.head()

NameError: name 'df_1' is not defined

In [ ]:
# One hot encoding
# Steps: create a OneHotEncoder object, and fit it to all of X

# 1. INSTANTIATE
enc = preprocessing.OneHotEncoder()

# 2. FIT
enc.fit(df_2.iloc[:,1:])

# 3. Transform
onehotlabels = enc.transform(df_2.iloc[:,1:]).toarray()
df_4 = pd.DataFrame(onehotlabels.T)
df_4.head()

/home/shantanu/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

    0    1    2    3    4    5    6    7    8    9    10   11   12   13
0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0
1  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0  0.0  0.0  0.0
2  0.0  0.0  0.0  1.0  1.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0
3  0.0  0.0  0.0  0.0  1.0  1.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
4  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0