In [8]:
import pandas as pd
import requests
import io

In [9]:
url="http://web.cs.iastate.edu/~cs573x/labs/lab1/house-votes-84.data"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))

In [10]:
c.head()

   n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8  republican
0  n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   ?  republican
1  ?  y   y   ?   y   y   n   n   n   n  y   n   y   y   n   n    democrat
2  n  y   y   n   ?   y   n   n   n   n  y   n   y   n   n   y    democrat
3  y  y   y   n   y   y   n   n   n   n  y   ?   y   y   y   y    democrat
4  n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y    democrat

In [ ]:
# predict data classes republic and democrat

In [12]:
c.replace("")

<bound method DataFrame.info of      n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8  republican
0    n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   ?  republican
1    ?  y   y   ?   y   y   n   n   n   n  y   n   y   y   n   n    democrat
2    n  y   y   n   ?   y   n   n   n   n  y   n   y   n   n   y    democrat
3    y  y   y   n   y   y   n   n   n   n  y   ?   y   y   y   y    democrat
4    n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y    democrat
..  .. ..  ..  ..  ..  ..  ..  ..  ..  .. ..  ..  ..  ..  ..  ..         ...
429  n  n   y   y   y   y   n   n   y   y  n   y   y   y   n   y  republican
430  n  n   y   n   n   n   y   y   y   y  n   n   n   n   n   y    democrat
431  n  ?   n   y   y   y   n   n   n   n  y   y   y   y   n   y  republican
432  n  n   n   y   y   y   ?   ?   ?   ?  n   y   y   y   n   y  republican
433  n  y   n   y   y   y   n   n   n   y  n   y   y   y   ?   n  republican

[434 rows x 17 columns]>

In [13]:
print('Rows     :',c.shape[0])
print('Columns  :', c.shape[1])
print('\nFeatures :\n     :',c.columns.tolist())
print('\nMissing values    :',c.isnull().values.sum())

Rows     : 434
Columns  : 17

Features :
     : ['n', 'y', 'n.1', 'y.1', 'y.2', 'y.3', 'n.2', 'n.3', 'n.4', 'y.4', '?', 'y.5', 'y.6', 'y.7', 'n.5', 'y.8', 'republican']

Missing values    : 0

In [127]:

import numpy as np
c.replace("?", np.nan, inplace = True)
c.head(5) 
c['republican'].value_counts()

democrat      267
republican    167
Name: republican, dtype: int64

In [42]:
df  = c.fillna(method='ffill')
df['y.8'] = df['y.8'].replace(np.nan, 'y')
print(df.head())

   n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4  ? y.5 y.6 y.7 n.5 y.8  republican
0  n  y   n   y   y   y   n   n   n   n  n   y   y   y   n   y  republican
1  n  y   y   y   y   y   n   n   n   n  y   n   y   y   n   n    democrat
2  n  y   y   n   y   y   n   n   n   n  y   n   y   n   n   y    democrat
3  y  y   y   n   y   y   n   n   n   n  y   n   y   y   y   y    democrat
4  n  y   y   n   y   y   n   n   n   n  n   n   y   y   y   y    democrat

In [75]:
y = df.iloc[:, [-1]] 
y = y.replace({'republican':1,'democrat':0})
print(y)

     republican
0             1
1             0
2             0
3             0
4             0
..          ...
429           1
430           0
431           1
432           1
433           1

[434 rows x 1 columns]

In [76]:

X = df.drop(['republican','?'],axis=1)
print(X)

     n  y n.1 y.1 y.2 y.3 n.2 n.3 n.4 y.4 y.5 y.6 y.7 n.5 y.8
0    n  y   n   y   y   y   n   n   n   n   y   y   y   n   y
1    n  y   y   y   y   y   n   n   n   n   n   y   y   n   n
2    n  y   y   n   y   y   n   n   n   n   n   y   n   n   y
3    y  y   y   n   y   y   n   n   n   n   n   y   y   y   y
4    n  y   y   n   y   y   n   n   n   n   n   y   y   y   y
..  .. ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
429  n  n   y   y   y   y   n   n   y   y   y   y   y   n   y
430  n  n   y   n   n   n   y   y   y   y   n   n   n   n   y
431  n  n   n   y   y   y   n   n   n   n   y   y   y   n   y
432  n  n   n   y   y   y   n   n   n   n   y   y   y   n   y
433  n  y   n   y   y   y   n   n   n   y   y   y   y   n   n

[434 rows x 15 columns]

In [77]:
X = X.replace({'n': 0, 'y': 1})

In [54]:
print(y)

     n  y  n.1  y.1  y.2  y.3  n.2  n.3  n.4  y.4  y.5  y.6  y.7  n.5  y.8
0    0  1    0    1    1    1    0    0    0    0    1    1    1    0    1
1    0  1    1    1    1    1    0    0    0    0    0    1    1    0    0
2    0  1    1    0    1    1    0    0    0    0    0    1    0    0    1
3    1  1    1    0    1    1    0    0    0    0    0    1    1    1    1
4    0  1    1    0    1    1    0    0    0    0    0    1    1    1    1
..  .. ..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
429  0  0    1    1    1    1    0    0    1    1    1    1    1    0    1
430  0  0    1    0    0    0    1    1    1    1    0    0    0    0    1
431  0  0    0    1    1    1    0    0    0    0    1    1    1    0    1
432  0  0    0    1    1    1    0    0    0    0    1    1    1    0    1
433  0  1    0    1    1    1    0    0    0    1    1    1    1    0    0

[434 rows x 15 columns]

In [78]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [79]:
print(X_train.shape)
print(X_test.shape)

(303, 15)
(131, 15)

In [80]:
from sklearn.linear_model import LogisticRegression

In [81]:
voting_logistic = LogisticRegression(C=10)

In [82]:
voting_logistic.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression(C=10)

In [84]:
voting_logistic_predictions = voting_logistic.predict(X_test)

In [85]:
from sklearn.metrics import accuracy_score
acc_voting_logistic = accuracy_score(y_test, voting_logistic_predictions)
print("accuracy_score: %4f" % acc_voting_logistic)

accuracy_score: 0.969466

In [148]:

from bioinfokit.analys import get_data, stat
res = stat()
res.ttest(df= y, test_type=1, mu=5, res = "republican")
print(res.summary)

One Sample t-test

------------------  -----------
Sample size          434
Mean                   0.384793
t                   -197.384
Df                   433
P-value (one-tail)     0
P-value (two-tail)     0
Lower 95.0%            0.338836
Upper 95.0%            0.430749
------------------  -----------

The p value obtained from the one sample t-test is not significant (p < 0.05), and therefore, we reject the null hypothesis

Hypothesis
a statement about the value of a population parameter, in case of two hypotheses, the statement assumed to be true is called the null hypothesis (notation H0) and the contradictory statement is called the alternative hypothesis (notation Ha)

In [147]:
c['republican'].value_counts()

democrat      267
republican    167
Name: republican, dtype: int64